# Data cleaning and preparation

Juan Pablo Echeagaray González

24/10/2021

In [2]:
import pandas as pd
from zipfile import ZipFile

In [3]:
with ZipFile('data\\data.zip') as zip:
    with zip.open(zip.namelist()[0]) as data:
        df = pd.read_feather(data)

In [5]:
df.columns

Index(['FECHA_ACTUALIZACION', 'ID_REGISTRO', 'ORIGEN', 'SECTOR', 'ENTIDAD_UM',
       'SEXO', 'ENTIDAD_NAC', 'ENTIDAD_RES', 'MUNICIPIO_RES', 'TIPO_PACIENTE',
       'FECHA_INGRESO', 'FECHA_SINTOMAS', 'FECHA_DEF', 'INTUBADO', 'NEUMONIA',
       'EDAD', 'NACIONALIDAD', 'EMBARAZO', 'HABLA_LENGUA_INDIG', 'INDIGENA',
       'DIABETES', 'EPOC', 'ASMA', 'INMUSUPR', 'HIPERTENSION', 'OTRA_COM',
       'CARDIOVASCULAR', 'OBESIDAD', 'RENAL_CRONICA', 'TABAQUISMO',
       'OTRO_CASO', 'TOMA_MUESTRA_LAB', 'RESULTADO_LAB',
       'TOMA_MUESTRA_ANTIGENO', 'RESULTADO_ANTIGENO', 'CLASIFICACION_FINAL',
       'MIGRANTE', 'UCI'],
      dtype='object')

Queremos un modelo predictivo para establecer la probabilidad de ser intubado dadas las posibles morbilidades en la base de datos

In [10]:
morbilidades = ['NEUMONIA', 'EMBARAZO', 'DIABETES', 'EPOC', 'ASMA', 'INMUSUPR', 'HIPERTENSION', 
                'CARDIOVASCULAR', 'OBESIDAD', 'RENAL_CRONICA', 'TABAQUISMO']
df[morbilidades]

,NEUMONIA,EMBARAZO,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO
0,2,97,2,2,2,2,2,2,2,2,2
1,1,2,1,2,2,2,1,2,1,2,2
2,2,97,2,2,2,2,2,2,98,2,2
3,2,98,2,2,2,2,2,2,2,2,2
4,2,97,2,1,1,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...
11207936,99,97,2,2,2,2,2,2,2,2,2
11207937,99,1,2,2,2,2,2,2,2,2,2
11207938,99,2,2,2,2,2,2,2,2,2,1
11207939,99,2,2,2,2,2,2,2,2,2,2
11207940,99,97,2,2,2,2,2,2,2,2,2